


.box{
  width: 450px;
  background: #D81C23;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-right: 5%;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  position: sticky;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  
}

.box h3 {
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  font-weight: 100;


  border-radius: 5%;
}
.box ul{
  text-align: justify;
  font-size: 30px;
  
}

.box il{
  display: inline;
}

.inside-box ul{
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
}

.inside-box il{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

p {
  font-family: Lato;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}





html {
  scroll-behavior: smooth;
}

#section1 {
 
}

#section2 {

}

#section3 {
  
}