<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>

<body>
  

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/p960x960/41632261_1813796325405106_4574809759936413696_o.jpg?_nc_cat=104&amp;_nc_ohc=QJCkEgrnv-4AQmTxxeKumRl2UvH8wnjYJ_pn4U9BuXD4sRIte16qFS8NQ&amp;_nc_ht=scontent-sea1-1.xx&amp;oh=8a98e66d003daa329734d785bbc7ba74&amp;oe=5E80D38A" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <div class="w3-container" style="position:fixed; top:0;">
    <h1><b>Maverick Garcia</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Portfolio:</span> 
      <button class="w3-button w3-black">Bio</button>
      <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Work</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button>
    </div>
    </div>
  </header>

<app-bio></app-bio>

<app-resume></app-resume>
<app-artistry></app-artistry>






<
