


<div class="w3-container">
  <h2 style="text-align:center;">Biography</h2>


</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div class="row row-cols-2">
     <div class="col">
      <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/p960x960/41632261_1813796325405106_4574809759936413696_o.jpg?_nc_cat=104&amp;_nc_ohc=QJCkEgrnv-4AQmTxxeKumRl2UvH8wnjYJ_pn4U9BuXD4sRIte16qFS8NQ&amp;_nc_ht=scontent-sea1-1.xx&amp;oh=8a98e66d003daa329734d785bbc7ba74&amp;oe=5E80D38A" class="w3-card-4 w3-round w3-margin-left" style="width:100%;max-width:400px">
    </div>
    <div class="col">Hi, my name is Maverick Garcia Currently, I am a Software Development Student at Year Up. I am taking 6 months of classes to polish up my skills for the next 6 months of the program where I am assigned an internship for the rest of the time. Right now, putting my communicative and problem solving skills into real world scenarios is greatly valueable to me. Since I am so young, I am excited and hoping to learn more through listening to people with more experience than me.</div>

  </div>
</div>




