<div class="w3-container w3-pale-red">
  <h2>Biography</h2>
  <p>Hi, my name is Maverick, like the basketball team or the cigarettes. Currently, I am a Software Development Student at Year Up. I am taking 6 months of classes to polish up my skills for the next 6 months of the program where I am assigned an internship for the rest of the time. Right now, putting my communicative and problem solving skills into real work scenarios is most valuable to me. Since I am so young, I am excited and hoping to learn more through listening to people with more experience than me.

</div>





