<div>
  <h1 class="w3-center w3-padding-64">Resume/Projects</h1>
</div>


<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Development Projects</b></p>
        <p>Here is a link to some of the coding projects I have.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Resume</b></p>
        <p>My updated and current Resume</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Film/Artists projects</b></p>
        <p>Here is a link to my YouTube Channel that consist of what I am passionate about and film projects.</p>
      </div>
    </div>
  
  


</div>
